<!DOCTYPE html>
<html>
  <head>
    <title>Wardblog</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

  </head>

  <body>
    <div id="sidebar-wrapper">
              <ul class="sidebar-nav">
                  <li class="sidebar-brand">
                      <a href="https://wardblog.herokuapp.com/">
                          Home
                      </a>
                  </li>
                  <li>
                      <a href="#">Who are the Ward's?</a>
                  </li>
                  <li>
                      <a href="https://www.facebook.com/profile.php?id=742197994">Facebook</a>
                  </li>
                  <li>
                      <a href="mailto:mattward0028@gmail.com">Email</a>
                  </li>
                  <li>
                      <a href="skype:mattward28">Skype</a>
                  </li>
                  <li>
                      <a href="#">Events</a>
                  </li>
                  <li>
                      <a class="sign_in">Admin Login</a>
                  </li>
              </ul>


          </div>



    <div class="postcontent">
    <%= yield %>
  </div>
  </body>
</html>
